@import "tailwindcss";

@font-face {
  font-family: sora-regular;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Sora/static/Sora-Regular.ttf");
}
@font-face {
  font-family: sora-semibold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Sora/static/Sora-SemiBold.ttf");
}
@font-face {
  font-family: sora-bold;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Sora/static/Sora-Bold.ttf");
}

@theme {
  /* Color palette */
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-blue-600: hsl(212, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
  --color-red-500: hsl(354, 63%, 57%);
  --color-green-500: hsl(140, 63%, 57%);
  --color-yellow-400: hsl(49, 85%, 70%);

  /* font-family */
  --font-sora-regular: "sora-regular", sans-serif;
  --font-sora-semibold: "sora-semibold", sans-serif;
  --font-sora-bold: "sora-bold", sans-serif;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-0 font-sora-regular;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s step-start infinite;
  }

  /* ================================
     Text Preset 1 — Bold (Desktop)
  ================================= */
  .text-preset-1 {
    font-family: var(--font-sora-bold);
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.4px;
    font-weight: 700;
  }

  /* ================================
     Text Preset 1 — Bold (Mobile)
  ================================= */
  .text-preset-1-mobile {
    font-family: var(--font-sora-bold);
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.32px;
    font-weight: 700;
  }

  /* ================================
     Text Preset 1 — Regular (Desktop)
  ================================= */
  .text-preset-1-regular {
    font-family: var(--font-sora-regular);
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  /* ======================================
     Text Preset 1 — Regular (Mobile)
  ======================================= */
  .text-preset-1-regular-mobile {
    font-family: var(--font-sora-regular);
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0.4px;
    font-weight: 400;
  }
  /* ======================================
              Text Preset 2 - 6
  ======================================= */
  .text-preset-2 {
    font-family: var(--font-sora-bold);
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .text-preset-3 {
    font-family: var(--font-sora-regular);
    font-size: 1.24rem;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .text-preset-3-mobile {
    font-family: var(--font-sora-regular);
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .text-preset-3-semibold {
    font-family: var(--font-sora-semibold);
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.3px;
  }
  .text-preset-4 {
    font-family: var(--font-sora-regular);
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: -0.6px;
  }
  .text-preset-5 {
    font-family: var(--font-sora-regular);
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.48px;
  }
  .text-preset-5 {
    font-family: var(--font-sora-regular);
    font-size: 0.75rem;
    line-height: 120%;
    letter-spacing: 0px;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
